 @font-face {
    font-family: "font";
    src: url("/fonts/Nunito-VariableFont_wght.ttf") format("opentype");
}
.form-container {
    width: 600px; 
    margin: auto; 
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    font-family: "font";
}

body{
    background: linear-gradient(to right, rgb(35, 132, 250), rgba(225, 26, 225, 0.788));
}

h2{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    font-weight: 300;
}

button {
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.content{
    padding: 20px;
}

label{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-top: 15px;

}

input, select {
    padding: 15px;
    border: none;
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
    margin-bottom: 10px;
}

#first-name, #last-name, #area-code, #phone-number {
    display: inline-block;
    margin-right: 20px;
}
#last-name{
    width: 83%;
}
#area-code{
    width: 50px;
}

#phone-number{
    width: 288px;
}

#company, #email {
    width: 70%;
}

#question{
    width: 100%;
    padding-top: 30px;
}
#subject {
    width: 75%;
}
.choice{
    width: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.row{
    margin: 10px 0 10px 0;

}
.subtitle{
    margin: 0;
    color: gray;
    font-size: small;

}
.field{
    display: inline-block;
}
