 @font-face {
    font-family: "font";
    src: url("/fonts/Nunito-VariableFont_wght.ttf") format("opentype");
}
form {
    width: 600px; 
    height: 600px;
    margin: auto; 
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    font-family: "font";
}

body{
    background: linear-gradient(to right, rgb(35, 132, 250), rgba(225, 26, 225, 0.788));
}

h2{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    font-weight: 300;
}

button {
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
}